header.header
  .header__content
    .header__menu
      .menu
        ul.menu__list
          li.menu__item
            a(href="") Акция
          li.menu__item
            a(href="") Оплата и доставка
          li.menu__item
            a(href="") Кредит/Лизинг
        ul.menu__list
          li.menu__item
            a(href="") Гарантия
          li.menu__item
            a(href="") Сервис
          li.menu__item
            a(href="") Склады
        ul.menu__list
          li.menu__item
            a(href="") Сравнить
          li.menu__item
            a(href="") Избранное
    .header__btn
      button Вход / Регистрация
  .header__bottom
    .sticky-menu
      .sticky-menu__logo
        a(href="")
          img(src="img/logo.png", alt="")
      .sticky-menu__sity
        a(href="") Москва
      .sticky-menu__seach
        .sticky-menu__input-box
          input(type="text", placeholder="Поиск по сайту").input-seach
      ul.sticky-menu__list
        li
          a(href="") Наши клиенты
        li
          a(href="") О компании
      .sticky-menu__phone
        a(href="") 8 800 550 57 24
      .sticky-menu__basket
        span 3
        a(href="") Корзина
  .header__mobile
    ul.menu-mobile
      li.menu-mobile__item
        a(href="")
          img(src="img/mobile_menu_icon_1.png", alt="alt")
      li.menu-mobile__item
        a(href="")
          img(src="img/mobile_menu_icon_2.png", alt="alt")
      li.menu-mobile__item
        a(href="")
          img(src="img/mobile_menu_icon_3.png", alt="alt")
      li.menu-mobile__item
        a(href="")
          img(src="img/mobile_menu_icon_4.png", alt="alt")
      li.menu-mobile__item.menu-mobile__item_basket
        a(href="")
          img(src="img/mobile_menu_icon_5.png", alt="alt")
        span 3

