nav.sidebar
  ul.sidebar__list
    li.sidebar__item.active
      a(href="")
        img(src="img/sidebar_item_1.png", alt="alt")
        .sidebar__desc Шиномонтажное оборудование
    li.sidebar__item
      a(href="")
        img(src="img/sidebar_item_2.png", alt="alt")
        .sidebar__desc Шиномонтажное оборудование
    li.sidebar__item
      a(href="")
        img(src="img/sidebar_item_1.png", alt="alt")
        .sidebar__desc Шиномонтажное оборудование
    li.sidebar__item
      a(href="")
        img(src="img/sidebar_item_2.png", alt="alt")
        .sidebar__desc Шиномонтажное оборудование
    li.sidebar__item
      a(href="")
        img(src="img/sidebar_item_1.png", alt="alt")
        .sidebar__desc Шиномонтажное оборудование
    li.sidebar__item
      a(href="")
        img(src="img/sidebar_item_2.png", alt="alt")
        .sidebar__desc Шиномонтажное оборудование
    li.sidebar__item
      a(href="")
        img(src="img/sidebar_item_1.png", alt="alt")
        .sidebar__desc Шиномонтажное оборудование
    li.sidebar__item
      a(href="")
        img(src="img/sidebar_item_2.png", alt="alt")
        .sidebar__desc Шиномонтажное оборудование
    li.sidebar__item
      a(href="")
        img(src="img/sidebar_item_1.png", alt="alt")
        .sidebar__desc Шиномонтажное оборудование
    li.sidebar__item
      a(href="")
        img(src="img/sidebar_item_2.png", alt="alt")
        .sidebar__desc Шиномонтажное оборудование
    li.sidebar__item
      a(href="")
        img(src="img/sidebar_item_1.png", alt="alt")
        .sidebar__desc Шиномонтажное оборудование
    li.sidebar__item
      a(href="")
        img(src="img/sidebar_item_2.png", alt="alt")
        .sidebar__desc Шиномонтажное оборудование
    li.sidebar__item
      a(href="")
        img(src="img/sidebar_item_1.png", alt="alt")
        .sidebar__desc Шиномонтажное оборудование
    li.sidebar__item
      a(href="")
        img(src="img/sidebar_item_2.png", alt="alt")
        .sidebar__desc Шиномонтажное оборудование