.product-cart
  .product-cart__top
    .product-cart__check
      label Сравнить
        input(type="checkbox")
        .checkbox
    .product-cart__stock
      .product-cart__stock-actual.product-cart__stock-actual_out 65.000
      .product-cart__stock-discount -5.000
  .product-cart__pic
    img(src="/img/product_item_1.png", alt="alt")
  .product-cart__desc
    .product-cart__info
      .product-cart__rating
        .rating(data-total-value="0")
          .rating__item(data-item-value="5")
          .rating__item(data-item-value="4")
          .rating__item(data-item-value="3")
          .rating__item(data-item-value="2")
          .rating__item(data-item-value="1")
        span 42
      a.product-cart__comments 18
    .product-cart__text
      p Lorem ipsum dolor consectetur adip cing elit, eiusmod tempor incididunt labore et ipsum dolor consectetur.
    .product-cart__body
      .product-cart__body-item
        .product-cart__title Диаметр
        .product-cart__value 455мм/220мм
      .product-cart__body-item
        .product-cart__title Размеры
        .product-cart__value 55мм/234мм
      .product-cart__body-item
        .product-cart__title Бренд
        .product-cart__value Zinvo
    .product-cart__price
      .product-cart__credit от 8 999 / мес
      .product-cart__price-actual 60.000 &#8381
    .product-cart__bottom
      .product-cart__like
      button.btn Купить