extends ../layouts/default

block content
	.wrapper
		include ../../blocks/modules/header/header
		.main-content
			include ../../blocks/modules/sidebar/sidebar
			main.main
				.breadcrumb-mobile
					.breadcrumb-mobile__content
						a(href="").breadcrumb-mobile__prev
							div
								div Станок легковой “Zinvo34F”
								.breadcrumb-mobile__price Стоимость:  95 000 &#8381
					.nav-menu
						ul.nav-menu__list
							li.nav-menu__item
								a(href="") Главное меню
							li.nav-menu__item
								a(href="") Шиномонтажное оборудование
							.nav-menu__title Шиномонтажные станки
							a(href="").nav-menu__show Показать все
							ul.nav-submenu
								li.nav-submenu__item
									a(href="") Тут тайтл станка
								li.nav-submenu__item
									a(href="") Тут тайтл станка
								li.nav-submenu__item
									a(href="") Тут тайтл станка
								li.nav-submenu__item
									a(href="") Может быть длинныммм и не очень
								li.nav-submenu__item
									a(href="") Тут тайтл станка
								li.nav-submenu__item
									a(href="") Тут тайтл станка
								li.nav-submenu__item
									a(href="") Тут тайтл станка
								li.nav-submenu__item
									a(href="") Тут тайтл станка
								li.nav-submenu__item
									a(href="") Тут тайтл станка
				.container.container_page
					.breadcrumb
						ul.breadcrumb__list
							li.breadcrumb__item 
								a.breadcrumb__link(href="") Главная
							li.breadcrumb__item
								a.breadcrumb__link(href="") Каталог
							li.breadcrumb__item 
								a.breadcrumb__link(href="") Шиномонтажное оборудование
							li.breadcrumb__item.active 
								a.breadcrumb__link(href="") Станок легковой “Zinvo34F”
					h1.title.title_midlle.mobile-none Станок легковой “Zinvo34F”
					.card-label
						ul.card-label__list
							li.card-label__item.red Гарантия
							li.card-label__item.green Новинка
							li.card-label__item.violet Рассрочки
							li.card-label__item.orange Скидка 10%
							li.card-label__item.pink Бонус
					.card
						.card__top
							.card__column
								.card-slider
									button.card-slider__btn.card-slider__btn-prev
									ul.card__slider
										li
											.card__slider-pic
												img(src="img/card_item_1.png", alt="").js-card-item-click
										li
											.card__slider-pic
												img(src="img/card_item_1.png", alt="").js-card-item-click
										li
											.card__slider-pic
												img(src="img/card_item_1.png", alt="").js-card-item-click
										li
											.card__slider-pic
												img(src="img/card_item_1.png", alt="").js-card-item-click
										li
											.card__slider-pic
												img(src="img/card_item_1.png", alt="").js-card-item-click
									button.card-slider__btn.card-slider__btn-next
								ul.card__tumb
									li
										img(src="img/card_item_1.png", alt="")
									li
										img(src="img/card_item_1.png", alt="")
									li
										img(src="img/card_item_1.png", alt="")
									li
										img(src="img/card_item_1.png", alt="")
									li
										img(src="img/card_item_1.png", alt="")
								button.card__video
							.card__column
								.card__column-top
									.card__price
										.card__price-item 1 260 000 &#8381
										.card__price-desc Нашли дешевле снизим цену
									.card__rating
										.card__rating-left
											.rating(data-total-value="0")
												.rating__item(data-item-value="5")
												.rating__item(data-item-value="4")
												.rating__item(data-item-value="3")
												.rating__item(data-item-value="2")
												.rating__item(data-item-value="1")
											.rating__desc Оценка товара 4.3 из 5
										.card__rating-right
											a(href="#").card__rating-comment Голосов: 42
								form(action="").form-add-basket
									button.btn Купить
									.form-add-basket__body
										button.form-add-basket__buy Купить
										button.form-add-basket__basket В корзину
										button.form-add-basket__like
								.card__product
									.card__product-item
										.card__product-availability.card__product-availability_one В наличии:
										.card__product-desc в наличии
											.card__product-desc__item
												.card__product-desc__item-content Москва; Новосибирск;  Орел; Санк-Петербург;  Тамбов; Тверь; Ростов; Краснодар;  Курск;  Воронеж
									.card__product-item
										.card__product-availability.card__product-availability_two Доставим на дом:
										.card__product-desc рассчитать
											.card__product-desc__item
												.card__product-desc__item-content Стоимость доставки зависит от расстояние. 1 км - 150 руб
								.card__basket.mobile-none
									button.btn В корзину
								.card__btn
									button.card__btn-compare Сравнить
									button.card__btn-favorites Избранное
								.card__credit Оформить кредит онлайн за 5 минут от 160 000 руб/мес.

							.card__column
								.card__text
									.card__logo
										img(src="img/card_logo.png", alt="alt")
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do"eiusmod tempor incididunt consectetur
								.card__param
									.card__param-item Гарантия:
										span  12 мес.
									.card__param-item Страна производитель:
										span  Китай
									.card__param-item Родина бренда:
										span  Норвегия
								.card__questions
									.card__questions-item Какой станок купить для легковых автомобилей ?
									.card__questions-item Есть ли оборудование для грузовых автомобилей ?
						.card__bottom
							.tabs
								.tabs__card
									input#tabs-one-card(type="radio", name="tabs" , checked)
									label.tabs__label-card.js-label-card.active(for="tabs-one-card", data-tab="1") Описание
									input#tabs-two-card(type="radio", name="tabs")
									label.tabs__label-card.js-label-card(for="tabs-two-card", data-tab="2") Характеристики
							.card__desc.active(data-tab="1")
								ul.descriptions-list
									li.descriptions-list__item
										.descriptions-list__pic
											img(src="img/card_desc_1.png", alt="alt")
										.descriptions-list__info
											.descriptions-list__title Особенности использования
											.descriptions-list__text
												p "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, illo inventore veritatis et quasi architecto beatae vitae dicta sunt 
													| explicabo. Nemo enim ipsam voluptatem aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.Neque porro quisquam est, qui 
													| dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia ncidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, 
													| "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, illo inventore veritatis et quasi architecto beatae vitae dicta sunt 
													| explicabo. Nemo enim ipsam voluptatem aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.Neque porro quisquam est, qui 
													| dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia ncidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, 
									li.descriptions-list__item
										.descriptions-list__pic
											img(src="img/card_desc_2.png", alt="alt")
										.descriptions-list__info
											.descriptions-list__title Особенности использования
											.descriptions-list__text
												p "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, illo inventore veritatis et quasi architecto beatae vitae dicta sunt 
													| explicabo. Nemo enim ipsam voluptatem aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.Neque porro quisquam est, qui 
													| dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia ncidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, 
													| "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, illo inventore veritatis et quasi architecto beatae vitae dicta sunt 
													| explicabo. Nemo enim ipsam voluptatem aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.Neque porro quisquam est, qui 
													| dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia ncidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam
								.descriptions-details
									.descriptions-details__title Эксплуатация ШИНОМОНТАЖНОГО СТАНКА
									ul.descriptions-details__list
										li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam optio, neque aspernatur consectetur ea illum tempora veniam omnis aliquid incidunt nisi at exercitationem eligendi suscipit sint, quaerat nobis. Ipsa, ratione!
										li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam optio, neque aspernatur consectetur ea illum tempora veniam omnis aliquid incidunt nisi at exercitationem eligendi suscipit sint, quaerat nobis. Ipsa, ratione!
									ul.descriptions-details__list
										li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam optio, neque aspernatur consectetur ea illum tempora veniam omnis aliquid incidunt nisi at exercitationem eligendi suscipit sint, quaerat nobis. Ipsa, ratione!
										li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam optio, neque aspernatur consectetur ea illum tempora veniam omnis aliquid incidunt nisi at exercitationem eligendi suscipit sint, quaerat nobis. Ipsa, ratione!
							.card__desc(data-tab="2")
								ul.descriptions-list
									li.descriptions-list__item
										.descriptions-list__pic
											img(src="img/card_desc_1.png", alt="alt")
										.descriptions-list__info
											.descriptions-list__title Особенности использования
											.descriptions-list__text
												p "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, illo inventore veritatis et quasi architecto beatae vitae dicta sunt 
													| explicabo. Nemo enim ipsam voluptatem aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.Neque porro quisquam est, qui 
													| dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia ncidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, 
													| "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, illo inventore veritatis et quasi architecto beatae vitae dicta sunt 
													| explicabo. Nemo enim ipsam voluptatem aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.Neque porro quisquam est, qui 
													| dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia ncidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, 
									li.descriptions-list__item
										.descriptions-list__pic
											img(src="img/card_desc_2.png", alt="alt")
										.descriptions-list__info
											.descriptions-list__title Особенности использования
											.descriptions-list__text
												p "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, illo inventore veritatis et quasi architecto beatae vitae dicta sunt 
													| explicabo. Nemo enim ipsam voluptatem aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.Neque porro quisquam est, qui 
													| dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia ncidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, 
													| "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, illo inventore veritatis et quasi architecto beatae vitae dicta sunt 
													| explicabo. Nemo enim ipsam voluptatem aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.Neque porro quisquam est, qui 
													| dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia ncidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam
								.descriptions-details
									.descriptions-details__title Эксплуатация ШИНОМОНТАЖНОГО СТАНКА
									ul.descriptions-details__list
										li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam optio, neque aspernatur consectetur ea illum tempora veniam omnis aliquid incidunt nisi at exercitationem eligendi suscipit sint, quaerat nobis. Ipsa, ratione!
										li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam optio, neque aspernatur consectetur ea illum tempora veniam omnis aliquid incidunt nisi at exercitationem eligendi suscipit sint, quaerat nobis. Ipsa, ratione!
									ul.descriptions-details__list
										li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam optio, neque aspernatur consectetur ea illum tempora veniam omnis aliquid incidunt nisi at exercitationem eligendi suscipit sint, quaerat nobis. Ipsa, ratione!
										li Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam optio, neque aspernatur consectetur ea illum tempora veniam omnis aliquid incidunt nisi at exercitationem eligendi suscipit sint, quaerat nobis. Ipsa, ratione!
		.popup-slider
			.popup-slider__content
				.popup-slider__title Станок легковой “Zinvo34F”
				.popup-slider__close
				.card-slider
					button.card-slider__btn.card-slider__btn-prev-popup
					ul.card__slider-popup
						li
							.card__slider-pic
								img(src="img/card_item_1.png", alt="")
						li
							.card__slider-pic
								img(src="img/card_item_1.png", alt="")
						li
							.card__slider-pic
								img(src="img/card_item_1.png", alt="")
						li
							.card__slider-pic
								img(src="img/card_item_1.png", alt="")
						li
							.card__slider-pic
								img(src="img/card_item_1.png", alt="")
					button.card-slider__btn.card-slider__btn-next-popup
				ul.card__tumb-popup
					li
						img(src="img/card_item_1.png", alt="")
					li
						img(src="img/card_item_1.png", alt="")
					li
						img(src="img/card_item_1.png", alt="")
					li
						img(src="img/card_item_1.png", alt="")
					li
						img(src="img/card_item_1.png", alt="")
		.popup-basket
			.popup-basket__content
				.popup-basket__top
					.popup-basket__column
						.popup-basket__pic
							img(src="img/subcategory_item_1.png", alt="alt")
					.popup-basket__column
						.popup-basket__title Полуавтоматический шиномонтажный станок 220 В NORDBERG
						.popup-basket__price Цена
							span  65000
							|  руб.
						.popup-basket__number
							span Количество: 
							.block-count
								button.block-count__btn +
								input(type="text", placeholder="1").block-count__input
								button.block-count__btn -
					.popup-basket__column
						.popup-basket__form
							form(action="")
								.popup-basket__block
									.popup-basket__row
										div В корзине:
										span 1 товар
									.popup-basket__row
										div На сумму:
										span 65 000 руб
								button.btn Оформить заказ
				a(href="#").popup-basket__link
					.icon
					.text Продолжить покупки
				.popup-basket__body
					.popup-basket__subtitle Вам также могут пригодиться
					ul.popup-list
						li.popup-list__item
							.popup-list__pic
								img(src="img/basket-mini.png", alt="alt")
							.popup-list__title Универсальный легковой автоматический балансировочный станок  ZBOR543
							.popup-list__price 54 000 руб
							.block-count
								button.block-count__btn +
								input(type="text", placeholder="1").block-count__input
								button.block-count__btn -
							button.btn В корзину
						li.popup-list__item
							.popup-list__pic
								img(src="img/basket-mini.png", alt="alt")
							.popup-list__title Универсальный легковой автоматический балансировочный станок  ZBOR543
							.popup-list__price 54 000 руб
							.block-count
								button.block-count__btn +
								input(type="text", placeholder="1").block-count__input
								button.block-count__btn -
							button.btn В корзину
						li.popup-list__item
							.popup-list__pic
								img(src="img/basket-mini.png", alt="alt")
							.popup-list__title Универсальный легковой автоматический балансировочный станок  ZBOR543
							.popup-list__price 54 000 руб
							.block-count
								button.block-count__btn +
								input(type="text", placeholder="1").block-count__input
								button.block-count__btn -
							button.btn В корзину
				.popup-basket__close
		block footer
			include ../../blocks/modules/footer/footer
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")