extends ../layouts/default

block content
  .wrapper
    include ../../blocks/modules/header/header
    .main-content
      include ../../blocks/modules/sidebar/sidebar
      main.main
        .breadcrumb-mobile
          .nav-menu
            ul.nav-menu__list
              li.nav-menu__item
                a(href="") Главное меню
              li.nav-menu__item
                a(href="") Шиномонтажное оборудование
              .nav-menu__title Шиномонтажные станки
              a(href="").nav-menu__show Показать все
              ul.nav-submenu
                li.nav-submenu__item
                  a(href="") Тут тайтл станка
                li.nav-submenu__item
                  a(href="") Тут тайтл станка
                li.nav-submenu__item
                  a(href="") Тут тайтл станка
                li.nav-submenu__item
                  a(href="") Может быть длинныммм и не очень
                li.nav-submenu__item
                  a(href="") Тут тайтл станка
                li.nav-submenu__item
                  a(href="") Тут тайтл станка
                li.nav-submenu__item
                  a(href="") Тут тайтл станка
                li.nav-submenu__item
                  a(href="") Тут тайтл станка
                li.nav-submenu__item
                  a(href="") Тут тайтл станка
        .container.container_page
          .menu
            ul.menu-list
              li.menu-list__column
                .menu-list__box
                  .menu-list__title Шиномонтажные станки
                  .menu-list__link
                    a(href="") Шиномонтажные станки легковые
                    a(href="") Спецпредложения для легкового шиномонтажа
                    a(href="") Грузовые шиномонтажные станки
                    a(href="") Спецпредложения для грузового шиномонтажа
                    a(href="") Балансировочные станки легковые
                    a(href="") Грузовые балансировочные станки
                    a(href="") Оборудование для мобильного шиномонтажа
                .menu-list__box
                  .menu-list__title Грузовые шиномонтажные станки
                  .menu-list__link
                    a(href="") Грузовые шиномонтажные станки
                    a(href="") Балансировочные станки легковые
                    a(href="") Грузовые балансировочные станки
                    a(href="") Оборудование для мобильного шиномонтажа
                    a(href="") Домкраты
                    a(href="") Грузовые домкраты
                    a(href="") Компрессоры поршневые
                    a(href="") Пневмогайковерты
                    a(href="") Шланги и катушки
                .menu-list__box
                  .menu-list__title Импортные шиномонтажные станки
                  .menu-list__link
                    a(href="") Грузовые шиномонтажные станки
                    a(href="") Балансировочные станки легковые
                    a(href="") Грузовые балансировочные станки
                    a(href="") Оборудование для мобильного шиномонтажа
              li.menu-list__column
                .menu-list__box
                  .menu-list__title Шиномонтажные станки
                  .menu-list__link
                    a(href="") Шиномонтажные станки легковые
                    a(href="") Спецпредложения для легкового шиномонтажа
                    a(href="") Грузовые шиномонтажные станки
                    a(href="") Спецпредложения для грузового шиномонтажа
                    a(href="") Балансировочные станки легковые
                    a(href="") Грузовые балансировочные станки
                    a(href="") Оборудование для мобильного шиномонтажа
                .menu-list__box
                  .menu-list__title Грузовые шиномонтажные станки
                  .menu-list__link
                    a(href="") Грузовые шиномонтажные станки
                    a(href="") Балансировочные станки легковые
                    a(href="") Грузовые балансировочные станки
                    a(href="") Оборудование для мобильного шиномонтажа
                    a(href="") Домкраты
                    a(href="") Грузовые домкраты
                    a(href="") Компрессоры поршневые
                    a(href="") Пневмогайковерты
                    a(href="") Шланги и катушки
                .menu-list__box
                  .menu-list__title Импортные шиномонтажные станки
                  .menu-list__link
                    a(href="") Грузовые шиномонтажные станки
                    a(href="") Балансировочные станки легковые
                    a(href="") Грузовые балансировочные станки
                    a(href="") Оборудование для мобильного шиномонтажа
              li.menu-list__column
                .menu-list__box
                  .menu-list__title Шиномонтажные станки
                  .menu-list__link
                    a(href="") Шиномонтажные станки легковые
                    a(href="") Спецпредложения для легкового шиномонтажа
                    a(href="") Грузовые шиномонтажные станки
                    a(href="") Спецпредложения для грузового шиномонтажа
                    a(href="") Балансировочные станки легковые
                    a(href="") Грузовые балансировочные станки
                    a(href="") Оборудование для мобильного шиномонтажа
                .menu-list__box
                  .menu-list__title Грузовые шиномонтажные станки
                  .menu-list__link
                    a(href="") Грузовые шиномонтажные станки
                    a(href="") Балансировочные станки легковые
                    a(href="") Грузовые балансировочные станки
                    a(href="") Оборудование для мобильного шиномонтажа
                    a(href="") Домкраты
                    a(href="") Грузовые домкраты
                    a(href="") Компрессоры поршневые
                    a(href="") Пневмогайковерты
                    a(href="") Шланги и катушки
                .menu-list__box
                  .menu-list__title Импортные шиномонтажные станки
                  .menu-list__link
                    a(href="") Грузовые шиномонтажные станки
                    a(href="") Балансировочные станки легковые
                    a(href="") Грузовые балансировочные станки
                    a(href="") Оборудование для мобильного шиномонтажа
    block footer
      include ../../blocks/modules/footer/footer
block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")