footer.footer
  .footer__content
    .footer__top
      .footer__form
        .footer__form-title Узнай первым о скидках
        form(action="")
          input(type="text", placeholder="Ваш Email").input-seach.input-seach_big
          button(type="submit").btn Подписаться
      .footer__mail
        a(href="") info@centr-to.ru
      .footer__phone
        a(href="") 8 800 550 57 24
    .footer__body
      .footer__menu
        .footer__block
          .footer__block-title Компания Цто
          ul.footer__list
            li.footer__item
              a(href="") Почему мы
            li.footer__item
              a(href="") О компании
            li.footer__item
              a(href="") Наши клиенты
            li.footer__item
              a(href="") Адреса складов
            li.footer__item
              a(href="") Вакансии
            li.footer__item
              a(href="") Контакты
        .footer__block
          .footer__block-title Покупателям
          ul.footer__list
            li.footer__item
              a(href="") Кредит и лизинг
            li.footer__item
              a(href="") Доставка
            li.footer__item
              a(href="") Тендерный отдел
            li.footer__item
              a(href="") Каталог
            li.footer__item
              a(href="") Реквизиты
        .footer__block
          .footer__block-title Помощь
          ul.footer__list
            li.footer__item
              a(href="") Как подобрать оборудование
            li.footer__item
              a(href="") Как оформить заказ
            li.footer__item
              a(href="") Как оплатить заказ
            li.footer__item
              a(href="") Обмен / Возврат
            li.footer__item
              a(href="") Персональные данные
            li.footer__item
              a(href="") Пользовательское соглашение
        .footer__block
          .footer__block-title Обслуживание
          ul.footer__list
            li.footer__item
              a(href="") Гарантия
            li.footer__item
              a(href="") Сервис
            li.footer__item
              a(href="") Запчасти
            li.footer__item
              a(href="") Монтаж
        .footer__block
          ul.footer__list-big
            li
              a(href="") Акции
            li
              a(href="") Готовые решения
            li
              a(href="") Поставщикам
