block variables

doctype html
html(lang="ru")
	block head
			head
					meta(charset="utf-8")
					title Centr-to
					meta(content="width=device-width, initial-scale=1" name="viewport")
					meta(content="ie=edge" http-equiv="x-ua-compatible")
					link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.0/nouislider.css")
					link(rel="stylesheet" href="styles/main.css" type="text/css")
					link(href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet")
	body
		block content
		block scripts